body {
  background-color: #343434;
}

.wallet-options {
  background-color: #343434;
}

.border-darkgray {
  border-color: #313030;
}

.show-more-icon {
  background-color: #2a2a2a;
}

.connectwallet-div {
  border: 1px solid rgb(85, 83, 83);
}

.bg-navbar {
  background-color: #2a2a2b;
}

.wallet-card {
  border: 1px solid #464646;
}

.bg-active-navbar {
  background-color: #414141;
}

.about {
  background-color: #3a3a3a;
}

.trending {
  background-color: #3a3a3a;
}

.card-dark {
  background-color: #343434;
}

.light-button {
  background-color: #4b4b4b;
}

.footer {
  background-color: #2b2a2a;
}
